body {
    font-family: 'Karla', sans-serif;
    background-color: #F5F7FB;
}

body::before{
    content: "";
    position: absolute;
    background-color: #FFFAD1;
    width: 300px;
    height: 300px;
    top: -100px;
    right: -100px;
    border-radius: 50% 40% 60% 50% / 50% 60% 40% 50%;
    rotate: 128.49deg;
}

body::after{
    content: "";
    position: absolute;
    background-color: #DEEBF8;
    width: 300px;
    height: 300px;
    bottom: -100px;
    left: -100px;
    border-radius: 50% 40% 60% 50% / 50% 60% 40% 50%;
    rotate: -128.49deg;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.title {
    margin-bottom: 0;
    font-size: 32px;
    color: #293264;
}

.start-button {
    font-family: 'Inter', sans-serif;
    font-weight: 500 ;
    background-color: #4D5B9E;
    color: white;
    padding: 15px 70px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.start-button:hover,
.check-btn {
    background-color: #3B4A7D;
}
.start-button:active,
.check-btn {
    background-color: #2A3A5C;
}
.start-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(77, 91, 158, 0.5);
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #293264;
    text-align: center;
    font-style: regular;
    margin-bottom: 50px;
}

.question-bank {
    display: inline-block;
    margin-left: 30px;
    margin-right: 50px;
    border-bottom: 0.79px solid #DBDEF0;
    padding-bottom: 10px;
    width: auto;
    
    
}

.question-text {
    font-size: 16px;
    color: #293264;
    font-style: bold;
    font-weight: 700;
}
.option-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #293264;
    background-color: #D6DBF5;
    padding: 10px 20px;
    border: 1px solid #4D5B9E;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    
}

.check-btn {
    font-family: 'Inter',sans-serif;
    font-style: semi-bold;
    font-size: 11px;
    font-weight: 600;
    padding: 10px 20px;
    color: white;
    background-color:#4D5B9E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}